<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066588729308-t25hq0hdoqei93bj33gfif428asfdoeo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066588729308-t25hq0hdoqei93bj33gfif428asfdoeo</string>
	<key>API_KEY</key>
	<string>AIzaSyA6wb2GYuNDBzSUwNQVh44YojZH3enVHUI</string>
	<key>GCM_SENDER_ID</key>
	<string>1066588729308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BulletinBoard-6660</string>
	<key>PROJECT_ID</key>
	<string>bulletinboard-486d4</string>
	<key>STORAGE_BUCKET</key>
	<string>bulletinboard-486d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066588729308:ios:e9797923b74f32a883a919</string>
</dict>
</plist>